<DOCTYPE html>
	<html lang="en">
       <head>
          <title> <%= title %> </title>
          <%- partial('partials/head') %>
       </head>
       <body>
         <%- partial('partials/header2') %>
         <%- body %>
         <%- partial('partials/footer') %>
         <%- partial('partials/scripts') %>
       </body>
	</html>